@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite,share');

.footer {
    background: rgb(249 250 251 / 0.5);
    color: rgb(107 114 128);
}

.linkHeader {
    color: var(--primary-color)
}

:global(.material-symbols-outlined) {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 16;
}

.iconVermelho {
    color: #ff000080;
}

.buttonIcon {
    transition: all .2s;
}

.buttonIcon:hover {
    border-color: var(--primary-color) !important;
}

.buttonIcon:hover :global(.material-symbols-outlined) {
    color: var(--primary-color) !important;
}