.banner {
    background-image:
        linear-gradient(to right, rgba(0, 31, 63, 0.9) 0%, rgba(0, 31, 63, 0.4) 50%, rgba(0, 31, 63, 0) 100%),
        url("https://lh3.googleusercontent.com/aida-public/AB6AXuCfmiFAGbUFa0lTX5XasEEjKiwcVkFbXwoEzo8yCgHVgq5hSkEWsYsWYOg8XwwZG72fhd7h5b0P1i7pYf9ph9jcJtRuconesMJPn1GnHSu902LHK6AQr8xb4F53ylLXhqFiXedW-nVmENvmAhiDX_Rwr_BBDIwZalBQRqo5rr0zUZ4UxTKCejP__dfAxIbSNd5NN7vExip_mU0Wz4cn8zDRHWV7LfSXJXjVWl721PPNvh1jpRMdZPY5fgIBc5IV36Tjipxv60FkQVUv");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10vh;
}

.hero {
  font-size: 4.5rem !important;
  line-height: 1.1;
  font-weight: 700 !important;
}

.subtitle {
    color: #E5E7EB;
}